<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i>Add New Order
      </h1>
      <p></p>
      <% include ./partials/messages %>
      <form action="/order" method="POST">
        <div class="form-group">
          <label for="name">Customer Name</label>
          <input
            type="name"
            id="cname"
            name="cname"
            class="form-control"
            placeholder="Enter Name"
            autocomplete="off"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="email">Customer Email</label>
          <input
            type="email"
            id="cemail"
            name="cemail"
            class="form-control"
            placeholder="Enter Email"
            autocomplete="off"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="plocation">Pick Up Location:</label>
          <select
            name="plocation"
            id="plocation"
            class="form-control select"
            required
          >
            <option> Select a Location</option>
            <option value="Abia">Abia</option>
            <option value="Adamawa">Adamawa</option>
            <option value="Akwa Ibom">Akwa Ibom</option>
            <option value="Anambra">Anambra</option>
            <option value="Bauchi">Bauchi</option>
            <option value="Bayelsa">Bayelsa</option>
            <option value="Benue">Benue</option>
            <option value="Cross River">Cross River</option>
            <option value="Delta">Delta</option>
            <option value="Ebonyi">Ebonyi</option>
            <option value="Enugu">Enugu</option>
            <option value="Edo">Edo</option>
            <option value="Ekiti">Ekiti</option>
            <option value="Gombe">Gombe</option>
            <option value="Imo">Imo</option>
            <option value="Jigawa">Jigawa</option>
            <option value="Kaduna">Kaduna</option>
            <option value="Kano">Kano</option>
            <option value="Katsina">Katsina</option>
            <option value="Kebbi">Kebbi</option>
            <option value="Kogi">Kogi</option>
            <option value="Kwara">Kwara</option>
            <option value="Lagos">Lagos</option>
            <option value="Nassarawa">Nassarawa</option>
            <option value="Niger">Niger</option>
            <option value="Ogun">Ogun</option>
            <option value="Ondo">Ondo</option>
            <option value="Osun">Osun</option>
            <option value="Oyo">Oyo</option>
            <option value="Plateau">Plateau</option>
            <option value="Rivers">Rivers</option>
            <option value="Sokoto">Sokoto</option>
            <option value="Taraba">Taraba</option>
            <option value="Yobe">Yobe</option>
            <option value="Zamfara">Zamfara</option>
            <option value="FCT">FCT</option>
          </select>
        </div>
        <div class="form-group">
          <label for="dlocation">Drop Off Location:</label>
          <select
            name="dlocation"
            id="dlocation"
            class="form-control select"
            required
          >
            <option> Select a Location</option>
            <option value="Abia">Abia</option>
            <option value="Adamawa">Adamawa</option>
            <option value="Akwa Ibom">Akwa Ibom</option>
            <option value="Anambra">Anambra</option>
            <option value="Bauchi">Bauchi</option>
            <option value="Bayelsa">Bayelsa</option>
            <option value="Benue">Benue</option>
            <option value="Cross River">Cross River</option>
            <option value="Delta">Delta</option>
            <option value="Ebonyi">Ebonyi</option>
            <option value="Enugu">Enugu</option>
            <option value="Edo">Edo</option>
            <option value="Ekiti">Ekiti</option>
            <option value="Gombe">Gombe</option>
            <option value="Imo">Imo</option>
            <option value="Jigawa">Jigawa</option>
            <option value="Kaduna">Kaduna</option>
            <option value="Kano">Kano</option>
            <option value="Katsina">Katsina</option>
            <option value="Kebbi">Kebbi</option>
            <option value="Kogi">Kogi</option>
            <option value="Kwara">Kwara</option>
            <option value="Lagos">Lagos</option>
            <option value="Nassarawa">Nassarawa</option>
            <option value="Niger">Niger</option>
            <option value="Ogun">Ogun</option>
            <option value="Ondo">Ondo</option>
            <option value="Osun">Osun</option>
            <option value="Oyo">Oyo</option>
            <option value="Plateau">Plateau</option>
            <option value="Rivers">Rivers</option>
            <option value="Sokoto">Sokoto</option>
            <option value="Taraba">Taraba</option>
            <option value="Yobe">Yobe</option>
            <option value="Zamfara">Zamfara</option>
            <option value="FCT">FCT</option>
          </select>
        </div>
        <div class="form-group">
          <label for="phone">Customer Phone Number</label>
          <input
            type="phone"
            id="cphone"
            name="cphone"
            class="form-control"
            autocomplete="off"
            placeholder="Enter a valid Phone Number"
          />
        </div>
        <div class="form-group">
          <label for="info">Customer Home Address</label>
          <textarea
            type="name"
            id="caddress"
            name="caddress"
            class="form-control"
            rows="5"
            maxlength="200"
            cols="100"
            placeholder="Address"
          ></textarea>
        </div>
        <div class="form-group">
          <label>Gender:</label>
          <select
            name="gender"
            id="gender"
            class="form-control select"
            required
          >
            <option></option>
            <option value="Female">Female</option>
            <option value="Male">Male</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Add
        </button>
      </form>
      <p class="lead mt-4">Admin Page <a href="/list"> Master</a></p>
    </div>
  </div>
</div>
